<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <span>이름 : </span><span th:text="${person.name}"></span>
    <span>나이 : </span><span th:text="${person.age}"></span>

    <form action="/board" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>DELETE</button>
    </form>

    <script>
        const form = document.querySelector('form');
        const btn = document.querySelector('button');
        btn.addEventListener('click', function(){
            $.ajax({
                method : 'DELETE',
                url : '/board',
            }).done(function(result){
                window.location = '/test'
            })
        });
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</body>
</html>